.glitch{
    box-shadow: none;
    transition: box-shadow 0.2s;
}
.glitch:hover{
    /* box-shadow: 2px 2px 0px 0px rgba(255,8,8,0.5), -2px -2px 0px 0px rgba(10,43,255,1); */
    transition: box-shadow 0.2s;

    animation-name: glitch-anim;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glitch-anim{
    0% {
        box-shadow: 2px 2px 0px 0px rgba(255,8,8,0.5), -2px -2px 0px 0px rgba(10,43,255,0.5);
        transform: skew(0.2deg);
        filter: brightness(0.8);
    }
    25% {
        box-shadow: 4px 4px 0px 0px rgba(255,8,8,0.35), -3px -4px 0px 0px rgba(10,43,255,0.45);
        transform: skew(-0.2deg);
        filter: brightness(1.2);
    }
    50% {
        box-shadow: 5px 2px 0px 0px rgba(255,8,8,0.45), -2px -4px 0px 0px rgba(10,43,255,0.15);
        transform: skew(0.5deg);
        filter: brightness(0.9);
    }
    75% {
        box-shadow: 4px 4px 0px 0px rgba(255,8,8,0.15), -5px -3px 0px 0px rgba(10,43,255,0.35);
        transform: skew(-0.5deg);
        filter: brightness(1.1);
    }
}

.glitch-text{
    text-shadow: 2px 2px 0px #FF0000, -2px -2px 0px #0011FF;
}
